body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.buttons button {
  margin: 5px;
  padding: 10px;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
